@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'Cursiva Escolar';
    src: url('cursiva_escolar.ttf') format('truetype');
}

:root {
    --verdana: Verdana, Geneva, Tahoma, sans-serif;
    --prompt: 'Prompt', sans-serif;
    --sriracha: 'Sriracha', cursive;
    --cursiva-escolar: 'Cursiva Escolar', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--verdana);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 100%;
    min-width: 500px;
}

header h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--prompt);
    font-size: 3em;
}

header p {
    padding: 20px 0px 50px 0px;
}

header p a,
footer p a {
    color: white;
    text-decoration: none;
}

header p a:hover,
footer p a:hover {
    text-decoration: underline;
}

main {
    width: 500px;
    margin: auto;
}

main p {
    text-align: justify;
    font-family: var(--cursiva-escolar);
    font-size: 1.5em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 20px;
}

section p {
    display: block;
    margin: auto;
    width: 250px;
}

.paragrafo {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    background-size: cover;
    box-shadow: inset 0px 5px 8px 0px rgba(0, 0, 0, 0.459);
    background-attachment: fixed;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.295);
    width: 250px;
}

#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    min-width: 500px;
}